@model IndexViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.Model.User != null)
{
    <h1 class="text-center">Welcome, @this.Model.User.Email</h1>
}
else
{
    <h1 class="text-center">Welcome, unknown!</h1>
}

<button id="btn">Click me</button>

@section scripts {
    <script>
        $('#btn').click(function () {
            $.getJSON('/Home/GetJson').then(function (data) {
                console.log(data);
            })
        })
    </script>
}