@model UserViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.Model != null)
{
    <h1 class="text-center">Welcome, @this.Model.UserName</h1>
}
else
{
    <h1 class="text-center">Welcome, unknown!</h1>
}

<div class="text-center">
    <button id="btn" class="btn btn-success">Click to test jQuery ajax calls</button>
</div>

@section scripts {
    <script>
        $('#btn').click(function () {
            $.getJSON('/Home/GetJson').then(function (data) {
                console.log(data);
            })
        })
    </script>
}